<DOCTYPE!>
<html>
<head>
<title> Python Site </title>
</head>
 <body>
        <h1> Hello World,lets learn something small about PYTHON </h1>
        <h3> This sites  gives essential brief on PYTHON </h3>
        <h3> Every needed for you to understand PYTOHN will be given out </h3>
        <h3> There is no charge involed so feel free and mingle </h>

   <ol>
      <li>Ken</li>
      <li>Max</li>
      <li>Sam</li>
   <h1> They can serve as a help guide</h1>
<br></br>
     
      <h1> PYTHONS COMMAND</h1>
      <p> 

