<DOCTYPE!>
<html>
<head>
<title> Python Site </title>
</head>
 <body>
        <h1> Hello World,lets learn something small about PYTHON </h1>
        <h3> This sites  gives essential brief on PYTHON </h3>
        <h3> Every needed for you to understand PYTOHN will be given out </h3>
        <h3> There is no charge involed so feel free and mingle </h>

   <ol>
      <li>Ken</li>
      <li>Max</li>
      <li>Sam</li>
   <h1> They can serve as a help guide</h1>
<br></br>
     
      <h1> PYTHON COMMAND</h1> 

      <p>. print "hello,Python!"--- prints hello, python!</p> 
      <p> .man--- shows a manual page for a certain topic</p> 
      <P> .(*)--- means the command is disabled</p>
      <p> . ls--- shows the folder you are in</p>
      <P> .(..)--- parent directory</p>
      <p>. ()--- for Tuple
      <p>· /--- show all the files and directories</P>
      <p>. len--- the lenght of string</p>  
      <p>. del--- helps delete one of entries</P>
      <P>. git--- it checks histroy</p>



</body>
</html>
